@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Serif+Pro');

* {
  box-sizing: border-box;
}

a
{
  color: #336699;
  text-decoration: none;
}

blockquote { margin: 1em 2em; }

body {
  font-family: 'Source Serif Pro', serif;
  font-family: 'Source Sans Pro', sans-serif;
}

cite { font-style: italic; }

p
{
  margin: 0;
  padding: 0;
  text-align: left;
}
